@import url(http://fonts.googleapis.com/css?family=Ubuntu:light,regular,bold&subset=Latin);

/* Core styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* font-family: 'Trebuchet MS', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    color: rgb(75, 75, 75);
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: rgb(0, 134, 206);
}
.fs-8 {
    font-size: small;
}
main {
    flex: 1;
}
/* Core styles */





/* Return to top button styles */
#top-button {
    position :fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(67, 67, 67);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: .5;
    transition: opacity .5s;
}
#top-button:hover {
    opacity: 1;
}
/* Return to top button styles */



/* Custom messages */
.info, .success, .warning, .error, .validation {
    border-radius: 13px;
    margin: auto;
    width: max-content;
    padding: 15px 10px 15px 3rem;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url(../images/success.svg);
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../images/error.svg);
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
/* Custom message */



/* Submit page align form */
.mt-2 {
    text-align: left;
}
/* Submit page align form */



/* Buttons */
.btn-dark,
.btn-outline-danger,
.btn-primary,
.btn-success,
.btn-warning,
.btn-danger {
    width: 85px;
    border-width: 0px;
}

.btn-primary {
    background-color: rgb(0, 166, 216);
}

.btn-primary:hover {
    background-color: rgb(0, 143, 186);
}

.btn-link { 
    color: red; 
} 

.btn-link:hover { 
    text-decoration: none;
    color: rgb(223, 0, 0);
    transition: .5s;
}

.btn-reset {
    color: #0b71ca;
    text-decoration: none;
}

.btn-w-70px {
    width: 70px;
}

/* Buttons */



/* Grayout the placeholder text */
::placeholder {
    opacity: 0.7 !important;
}

input::-moz-placeholder,
select::-moz-placeholder {
    opacity: 0.7 !important;
}

input::-ms-input-placeholder,
select::-ms-input-placeholder {
    opacity: 0.7 !important;
}

input::placeholder,
select::placeholder {
    opacity: 0.7 !important;
}
/* Grayout the placeholder text */




/* Center align table data */
td {
    vertical-align: middle;
}
/* Center align table data */



/* Fit handle within the slider */
#squareMetersSlider,
#rentalSlider,
#bedroomsSlider,
#bathroomsSlider {
    border-radius: 0;
    padding: 0 16px;
}
/* Fit handle within the slider */

