{% extends "layout.html" %}

{% block title %}
	About Us
{% endblock %}

{% block main %}

<div class="container mt-2">

	<!-- Header section -->
	<header class="mb-5">
		<h1 class="mb-0 fw-bold fs-2 text-secondary">About Swappr</h1>
		<p class="px-5 mx-5">Your Home Swap Hub!</p>
		<hr>
	</header>

	<!-- Key features section -->
	<section class="mb-5">
		<h3 class="mb-2 fw-bold fs-4 text-secondary">Key Features</h3>
		<ul>
			<li><strong>User-Friendly House Swapping:</strong> Create an account, upload your rented house's specifications,
				and explore potential matches for a hassle-free house swap experience.</li>
			<li><strong>Tailored Matches:</strong> Our intelligent algorithm suggests compatible house swap options, ensuring
				that your preferences align with potential matches.</li>
			<li><strong>Secure and Verified Listings:</strong> Trust in the security of our platform, where all house
				listings undergo thorough verification for authenticity and reliability.</li>
		</ul>
	</section>

	<!-- How it works section -->
	<section class="mb-5">
		<h3 class="mb-2 fw-bold fs-4 text-secondary">How It Works</h3>
		<ol>
			<li><strong>Create Your Profile:</strong> Join our community by creating a profile that reflects your housing
				preferences and lifestyle.</li>
			<li><strong>Upload Your House:</strong> Share the specifications of your rented house, including type, square
				footage, amenities, and location.</li>
			<li><strong>Explore Swapping Options:</strong> Browse through listings from users looking to swap their houses,
				and find the perfect match for your needs.</li>
			<li><strong>Initiate a Swap:</strong> Connect with other users, discuss potential swaps, and initiate a house
				exchange that suits both parties.</li>
		</ol>
	</section>

	<!-- Why choose swappr section -->
	<section class="mb-5">
		<h3 class="mb-2 fw-bold fs-4 text-secondary">Why Choose Swappr</h3>
		<ul>
			<li><strong>Community Connection:</strong> Join a community of individuals who value the simplicity and
				practicality of house swapping.</li>
			<li><strong>Empower Your Living Experience:</strong> Swappr empowers you to take control of your
				housing choices, making it easier than ever to find a home that suits your evolving needs.</li>
		</ul>
	</section>

	<!-- Motivation section -->
	<section>
		<h3 class="mb-2 fw-bold fs-4 text-secondary">Start Your House Swap Journey Today</h3>
		<p class="mx-3 px-3">Experience a new way of living by joining Swappr. Your dream home swap awaits, and the
			possibilities are
			endless!</p>
	</section>

	{% endblock %}