{% extends "layout.html" %}

{% block title %}
  Edit Submission
{% endblock %}

{% block main %}
  <div class="container mt-2">
    <div>
      <!-- Main Header and Info -->
      <h1 class="fw-bold fs-2 text-secondary d-inline">House Submission Form</h1>
      <a class="btn btn-link btn-reset pb-3" data-bs-toggle="collapse" href="#infoSubmit" role="button" aria-expanded="false" aria-controls="infoSubmit">
        <img src="../static/images/info.svg" class="img-thumbnail" style="width: 30px;" alt="a small icon illustrates an 'i' character."> 
      </a>
    </div>
    <div class="collapse" id="infoSubmit">
      {% set info = "submit" %}
      {% include 'info.html' %}
    </div>
    <form action="/edited_submission" method="post" id="submitForm" onsubmit="return validateSubmitForm()">
      <input type="hidden" name="submission_id" value="{{ submission.id }}">
      
      {% include "form_fields.html" %}

      <!-- Two buttons for either save the edited submission or delete it -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary" name="save" value="true">Save</button>
        <button type="submit" class="btn btn-link" name="delete" value="true">Delete</button>
      </div>
    </form>
  </div>
{% endblock %}
