<!-- File extends in both submission.html and edit_submission.html -->
<hr>
<h3 class="mb-3 fw-light fs-4 text-secondary">House details (required)</h2>
<div class="row g-4 mb-4">
  <!-- House Type 1-row -->
  <div class="col-md-3 mb-2">
    <label for="houseType" class="form-label">House Type</label>
    <select class="form-control" id="houseType" name="houseType" required>
      <option value="">Select House Type</option>
      <option value="studio" {% if submission.house_type == 'studio' %}selected{% endif %}>Studio</option>
      <option value="flat" {% if submission.house_type == 'flat' %}selected{% endif %}>Flat</option>
      <option value="maisonette" {% if submission.house_type == 'maisonette' %}selected{% endif %}>Maisonette</option>
      <option value="semi-detached_house" {% if submission.house_type == 'semi-detached_house' %}selected{% endif %}>Semi-Detached House</option>
      <option value="detached_house" {% if submission.house_type == 'detached_house' %}selected{% endif %}>Detached House</option>
      <option value="mansion" {% if submission.house_type == 'mansion' %}selected{% endif %}>Mansion</option>
      <!-- Add other options -->
    </select>
  </div>
</div>

<!-- Square Meters, Rental, Bedrooms, Bathrooms 4-rows -->
<div class="row g-4 mb-4">
  <div class="col-md-3 mb-4">
    <label for="squareMeters" class="form-label">Square Meters (m&#178;)</label>
    <input type="number" class="form-control" id="squareMeters" name="squareMeters" min="0" max="1000" value="{{ submission.square_meters }}" placeholder="0 to 1000m&#178;" required>
  </div>

  <div class="col-md-3 mb-4">
    <label for="rental" class="form-label">Rental (&euro;)</label>
    <input type="number" class="form-control" id="rental" name="rental" min="0" max="10000" value="{{ submission.rental }}" placeholder="0 to &euro;10000" required>
  </div>

  <div class="col-md-3 mb-4">
    <label for="bedrooms" class="form-label">Bedrooms</label>
    <input type="number" class="form-control" id="bedrooms" name="bedrooms" min="0" max="10" value="{{ submission.bedrooms }}" placeholder="0 to 10" required>
  </div>

  <div class="col-md-3 mb-4">
    <label for="bathrooms" class="form-label">Bathrooms</label>
    <input type="number" class="form-control" id="bathrooms" name="bathrooms" min="0" max="10" value="{{ submission.bathrooms }}" placeholder="0 to 10" required>
  </div>
</div>

<!-- Location: City, Municipality, Region 3-rows -->
<hr class="mt-5">
<h3 class="mb-3 fw-light fs-4 text-secondary">House location (required)</h2>
<div class="row g-3 mb-4">
  <div class="col-md-4 mb-4">
    <label for="city" class="form-label">City</label>
    <select class="form-control" id="city" name="city" required>
      <option value="">Select City</option>
      {% for city in cities %}
        <option value="{{ city.city }}" {% if submission.city == city.city %}selected{% endif %}>{{ whitespace(city.city) }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-4 mb-4">
    <label for="municipality" class="form-label">Municipality</label>
    <select class="form-control" id="municipality" name="municipality" required>
      {% if submission.municipality %}
        <option value="{{ submission.municipality }}">{{ whitespace(submission.municipality) }}</option>
      {% else %}
        <option value="">Select Municipality</option>
      {% endif %}
      <!-- Options will be populated dynamically using JavaScript -->
    </select>
  </div>

  <div class="col-md-4 mb-4">
    <label for="region" class="form-label">Region</label>
    <select class="form-control" id="region" name="region" required>
      {% if submission.region %}
        <option value="{{ submission.region }}">{{ whitespace(submission.region) }}</option>
      {% else %}
        <option value="">Select Region</option>
      {% endif %}
      <!-- Options will be populated dynamically using JavaScript -->
    </select>
  </div>
</div>

<!-- Desired Destination: City, Municipality, Region 3-rows -->
<hr class="mt-5">
<h3 class="mb-3 fw-light fs-4 text-secondary">Desired swap location (optional)</h2>
<div class="row g-3 mb-4">
  <div class="col-md-4 mb-4">
    <label for="city" class="form-label">City</label>
    <select class="form-control" id="cityDestination" name="cityDestination" required>
      <option value="any">Any</option>
      {% for city in cities %}
        <option value="{{ city.city }}" {% if submission.city_destination == city.city %}selected{% endif %}>{{ whitespace(city.city) }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-4 mb-4">
    <label for="municipality" class="form-label">Municipality</label>
    <select class="form-control" id="municipalityDestination" name="municipalityDestination" required>
      {% if submission.municipality_destination %}
        <option value="{{ submission.municipality_destination }}">{{ whitespace(submission.municipality_destination) }}</option>
      {% else %}
        <option value="any">Any</option>
      {% endif %}
      <!-- Options will be populated dynamically using JavaScript -->
    </select>
  </div>

  <div class="col-md-4 mb-4">
    <label for="region" class="form-label">Region</label>
    <select class="form-control" id="regionDestination" name="regionDestination" required>
      {% if submission.region_destination %}
        <option value="{{ submission.region_destination }}">{{ whitespace(submission.region_destination) }}</option>
      {% else %}
        <option value="any">Any</option>
      {% endif %}
      <!-- Options will be populated dynamically using JavaScript -->
    </select>
  </div>
</div>

<hr class="mt-5">
<h3 class="mb-3 fw-light fs-4 text-secondary">Swappr exposure (required)</h2>
<!-- Exposure radio buttons 1-row -->
<div class="form-group">
  <div class="form-check form-check-inline mb-4">
    <input type="radio" class="form-check-input" id="publicExposure" name="exposure" value="public" {% if submission.exposure == 'public' %}checked{% endif %} checked>
    <label class="form-check-label" for="publicExposure">Public</label>
  </div>
  <div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" id="privateExposure" name="exposure" value="private" {% if submission.exposure == 'private' %}checked{% endif %}>
    <label class="form-check-label" for="privateExposure">Private</label>
  </div>
</div>
  

