{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock %}    

{% block main %}

  <div class="container mt-2">
    <h1 class="mb-4 fw-bold fs-2 text-secondary">Your Submissions</h1>
    <hr>
    {% if submissions %}
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>House Type</th>
            <th>Sqr. Meters (m&sup2;)</th>
            <th>Rental (€)</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Location (C/M/R)</th>
            <th>Looking for (C/M/R)</th>
            <th>Exposure is</th>
            <th>Edit House</th>
            <!-- Add other columns as needed -->
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
            <tr {% if submission.primary_submission %}class="table-success"{% endif %}>
              <td>{{ whitespace(submission.house_type) }}</td>
              <td>{{ comma(submission.square_meters) }} m&sup2;</td>
              <td>€{{ comma(submission.rental) }}</td>
              <td>{{ submission.bedrooms }}</td>
              <td>{{ submission.bathrooms }}</td>

              {% if submission.city == submission.municipality %}
                <td>{{ whitespace(submission.city) }},<br>{{ whitespace(submission.region) }}</td>
              {% else %}
                <td>{{ whitespace(submission.city) }},<br>{{ whitespace(submission.municipality) }},<br>{{ whitespace(submission.region) }}</td>
              {% endif %}
              
              {% if submission.city_destination == 'any' %}
                <td>{{ whitespace(submission.city_destination) }}</td>
              {% elif (submission.city_destination == submission.municipality_destination) or (submission.municipality_destination == 'any' and submission.region_destination == 'any' )%}
                <td>{{ whitespace(submission.city_destination) }},<br>{{ whitespace(submission.region_destination) }}</td>
              {% else %}
                <td>{{ whitespace(submission.city_destination) }},<br>{{ whitespace(submission.municipality_destination) }},<br>{{ whitespace(submission.region_destination) }}</td>
              {% endif %}

              <td>
                {% if submission.exposure == 'public' %}
                  <form method="post" action="/update_exposure">
                    <input type="hidden" name="submission_id" value="{{ submission.id }}">
                    <input type="hidden" name="new_exposure" value="private">
                    <button type="submit" class="btn btn-success">Public</button>
                  </form>
                {% else %}
                  <form method="post" action="/update_exposure">
                    <input type="hidden" name="submission_id" value="{{ submission.id }}">
                    <input type="hidden" name="new_exposure" value="public">
                    <button type="submit" class="btn btn-primary">Private</button>
                  </form>
                {% endif %}
              </td>
              <td>
                <form method="post" action="/edit_submission">
                  <input type="hidden" name="submission_id" value="{{ submission.id }}">
                  <button type="submit" class="btn btn-warning">Edit</button>
                </form>
              </td>
              <!-- Add other columns as needed -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>No submissions found.</p>
    {% endif %}
  </div>

{% endblock %}
