<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Swappr</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../static/css/nouislider.css" rel="stylesheet" type="text/css">
  <link href="../static/css/styles.css" rel="stylesheet" type="text/css">

  <title>Swappr: {% block title %}{% endblock %}</title>

</head>

<body>

  <!-- Navigation Bar -->
  <nav class="bg-dark border navbar navbar-expand-md p-3 navbar-dark border-0">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-2 text-warning" href="/">Swappr</a>
      <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        {% if session["user_id"] %}
          <ul class="navbar-nav me-auto mt-3">
            <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/submit">Submit</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          </ul>
          <ul class="navbar-nav ms-auto mt-2">
            <div class="nav-item"><a class="nav-link" href="/account">{{ session['username'] }}</a></div>
            <li class="nav-item"><a class="nav-link" href="/signout">Log Out</a></li>
          </ul>
        {% else %}
          <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a></li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  

  <!-- Main Content -->
  <main class="container-fluid pt-5 text-center">

    {% block main %}{% endblock %}
    
    <div class="pt-4">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          
            {% for message in messages %}
              {% if message.success %}
                <div class="success" role="alert">{{ message.success }}</div>
              {% elif message.error %}
                <div class="error" role="alert">{{ message.error }}</div>
              {% endif %}
            {% endfor %}
          
        {% endif %}
      {% endwith %}

      {% if error %}
        <div class="error" role="alert">{{ error }}</div>
      {% endif %}
      {% if warning %}
        <div class="warning" role="alert">{{ warning }}</div>
      {% endif %}
      {% if success %}
        <div class="success" role="alert">{{ success }}</div>
      {% endif %}
    </div>

  </main>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center mt-5 py-2">
    <div>&copy; 2023 Swappr</div>
    <div style="font-size: small; font-weight: lighter;">swap your house!</div>
  </footer>

  <!-- Back-to-top button -->
  <button onclick="topFunction()" id="top-button" title="Go to top">Back to top</button>

  <!-- Bootstrap JS and dependencies -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/nouislider.js"></script>
  <script src="../static/js/script.js"></script>

</body>
</html>
