{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

  <div class="container mt-2">
    <div>
      <!-- Main Header and Info -->
      <h1 class="fw-bold fs-2 text-secondary d-inline">Search a House</h1>
      <a class="btn btn-link btn-reset pb-3" data-bs-toggle="collapse" href="#infoSearch" role="button" aria-expanded="false" aria-controls="infoSearch">
        <img src="../static/images/info.svg" class="img-thumbnail" style="width: 30px;" alt="a small icon illustrates an 'i' character."> 
      </a>
    </div>
    <div class="collapse" id="infoSearch">
      {% set info = "search" %}
      {% include 'info.html' %}
    </div>
    <form action="/search" method="post" id="...">

      <!-- HOUSE CHARACTERISTICS sections -->
      <!-- Header and Info -->
      <hr>
      <div>
        <h3 class="mb-3 fw-light fs-4 text-secondary d-inline">House characteristics filtering</h2>
        <a class="btn btn-link btn-reset pb-3" data-bs-toggle="collapse" href="#infoHouseCharacteristicsFiltering" role="button" aria-expanded="false" aria-controls="infoHouseCharacteristicsFiltering">
          <img src="../static/images/info.svg" class="img-thumbnail" style="width: 30px;" alt="a small icon illustrates an 'i' character."> 
        </a>
      </div>
      <div class="collapse mb-2" id="infoHouseCharacteristicsFiltering">
        {% set info = "house_characteristics_filtering" %}
        {% include 'info.html' %}
      </div>
      
      <!-- FIRST ROW: 4 columns in a row *using only the 1st column -->
      <div class="row g-4 mb-4">
        <!-- House Type selector -->
        <div class="col-md-3 mb-2">
          <label for="houseType" class="form-label">House Type</label>
          <select class="form-select" id="houseType" name="houseType">
            <option value="">Select House Type</option>
            <option value="studio">Studio</option>
            <option value="flat">Flat</option>
            <option value="maisonette">Maisonette</option>
            <option value="semi-detached_house">Semi-Detached House</option>
            <option value="detached_house">Detached House</option>
            <option value="mansion">Mansion</option>
          </select>
        </div>
      </div>

      <!-- SECOND ROW: 4 columns in a row -->
      <div class="row g-4 mb-4">
        <!-- Square Meters noUiSlider -->
        <div class="col-md-3 mb-1">
          <label for="squareMeters" class="form-label mb-3">Square Meters (m&#178;)</label>
          <div class="mb-2" id="squareMetersSlider" name="squareMetersSlider"></div>
          <output id="squareMetersMinimum">0</output><span> to </span>
          <output id="squareMetersMaximum">0</output><span> m&#178;</span>
          <input type="hidden" id="squareMeters" name="squareMeters" value="">
        </div>
        
        <!-- Rental noUiSlider -->
        <div class="col-md-3 mb-1">
          <label for="rental" class="form-label mb-3">Rental (&euro;)</label>
          <div class="mb-2" id="rentalSlider" name="rentalSlider"></div>
          <output id="rentalMinimum">0</output><span> to </span>
          <output id="rentalMaximum">0</output><span> &euro;</span>
          <input type="hidden" id="rental" name="rental" value="">
        </div>

        <!-- Bedrooms noUiSlider -->
        <div class="col-md-3 mb-1">
          <label for="bedrooms" class="form-label mb-3">Bedrooms</label>
          <div class="mb-2" id="bedroomsSlider" name="bedroomsSlider"></div>
          <output id="bedroomsMinimum">0</output><span> to </span>
          <output id="bedroomsMaximum">0</output>
          <input type="hidden" id="bedrooms" name="bedrooms" value="">
        </div>

        <!-- Bathrooms noUiSlider -->
        <div class="col-md-3 mb-1">
          <label for="bathrooms" class="form-label mb-3">Bathrooms</label>
          <div class="mb-2" id="bathroomsSlider" name="bathroomsSlider"></div>
          <output id="bathroomsMinimum">0</output><span> to </span>
          <output id="bathroomsMaximum">0</output>
          <input type="hidden" id="bathrooms" name="bathrooms" value="">
        </div>
      </div>


      <!-- LOCATION FILTERS sections -->
      <!-- Header and Info -->
      <hr class="mt-5">
      <div>
        <h3 class="mb-3 fw-light fs-4 text-secondary d-inline">Location filtering</h2>
        <a class="btn btn-link btn-reset pb-3" data-bs-toggle="collapse" href="#infoLocationFiltering" role="button" aria-expanded="false" aria-controls="infoLocationFiltering">
          <img src="../static/images/info.svg" class="img-thumbnail" style="width: 30px;" alt="a small icon illustrates an 'i' character."> 
        </a>
      </div>
      <div class="collapse mb-2" id="infoLocationFiltering">
        {% set info = "location_filtering" %}
        {% include 'info.html' %}
      </div>
      
      <!-- FIRST ROW: 3 columns in a row -->
      <div class="row g-3 mb-4">
        <!-- City selector -->
        <div class="col-md-4 mb-1">
          <label for="city" class="form-label">City</label>
          <select class="form-select" id="city" name="city">
            <option value="">Select City</option>
            {% for city in cities %}
              <option value="{{ city.city }}">{{ whitespace(city.city) }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Municipality selector -->
        <div class="col-md-4 mb-1">
          <label for="municipality" class="form-label">Municipality</label>
          <select class="form-select" id="municipality" name="municipality">
              <option value="">Select Municipality</option>
            <!-- Options will be populated dynamically using JavaScript -->
          </select>
        </div>
        
        <!-- Region selector -->
        <div class="col-md-4 mb-1">
          <label for="municipality" class="form-label">Region</label>
          <select class="form-select" id="region" name="region">
            <option value="">Select Region</option>
            <!-- Options will be populated dynamically using JavaScript -->
          </select>
        </div>
      </div>

      <!-- Tolerance Slider and Submit Button -->
      <!-- Tolerance Slider -->
      <div class="form-group col-md-3 mx-auto mt-5 text-center">
        <hr>
        <div>
          <label for="tolerance" class="form-label mb-3">Matching Tolerance</label>
          <a class="btn btn-link btn-reset pb-2" data-bs-toggle="collapse" href="#infoTolerance" role="button" aria-expanded="false" aria-controls="infoTolerance">
            <img src="../static/images/info.svg" class="img-thumbnail" style="width: 30px;" alt="a small icon illustrates an 'i' character."> 
          </a>
        </div>
        <div class="collapse mb-2" id="infoTolerance">
          {% set info = "tolerance" %}
          {% include 'info.html' %}
        </div>
        
        <div class="mb-2" id="toleranceSlider" name="toleranceSlider" {% if not primary_submission %}disabled{% endif %}></div>
        <output id="toleranceOut">0</output><span>%</span>
        <input type="hidden" id="tolerance" name="tolerance" value="">
      </div>
      <!-- Search Button -->
      <div class="text-center">
        <button type="submit" class="m-3 btn btn-warning">Search</button>
      </div>
    </form>
  </div>

  <!-- Search results section -->
  {% if search %}
    <div class="container mt-2 text-break">
      <hr>
      <div>
        <!-- Main Header and Info -->
        <h1 class="fw-bold fs-2 text-secondary d-inline">Search Results</h1>
        <a class="btn btn-link btn-reset pb-3" data-bs-toggle="collapse" href="#infoSearchResults" role="button" aria-expanded="false" aria-controls="infoSearchResults">
          <img src="../static/images/info.svg" class="img-thumbnail" style="width: 30px;" alt="a small icon illustrates an 'i' character."> 
        </a>
      </div>
      <div class="collapse" id="infoSearchResults">
        {% set info = "search_results" %}
        {% include 'info.html' %}
      </div>
        <table class="table fs-8 fw-light">
          <thead>
            <tr>
              <th>House Type</th>
              <th>Sqr. Meters (m&sup2;)</th>
              <th>Rental (&euro;)</th>
              <th>Bedrooms</th>
              <th>Bathrooms</th>
              <th>Location (C/M/R)</th>
              <th>Looking for (C/M/R)</th>
              <th>Contact</th>
              <!-- Add other columns as needed -->
            </tr>
          </thead>
          <tbody>
            {% for match in search %}
              {% if match.total_matching_score %}
                <tr{% if match.total_matching_score >= 31 %}
                  class="table-success"
                {% elif match.total_matching_score <= 30 and match.total_matching_score >= 21  %}
                  class="table-primary"
                {% elif match.total_matching_score <= 20 and match.total_matching_score >= 16 %}
                  class="table-warning"
                {% else %}
                  class="table-danger"
                {% endif %}>
              {% endif %}
                <td>{{ whitespace(match.house_type) }}</td>
                <td>{{ comma(match.square_meters) }} m&sup2;</td>
                <td>€{{ comma(match.rental) }}</td>
                <td>{{ match.bedrooms }}</td>
                <td>{{ match.bathrooms }}</td>

                {% if match.city == match.municipality %}
                  <td><a href="https://www.google.com/maps/search/{{ whitespace(match.city) }}, {{ match.postal_code }}" target="_blank">{{ whitespace(match.city) }},<br>{{ whitespace(match.region) }}</a></td>
                {% else %}
                  <td><a href="https://www.google.com/maps/search/{{ whitespace(match.city) }}, {{ match.postal_code }}" target="_blank">{{ whitespace(match.city) }},<br>{{ whitespace(match.municipality) }},<br>{{ whitespace(match.region) }}</a></td>
                {% endif %}

                {% if match.city_destination == 'any' %}
                  <td>{{ whitespace(match.city_destination) }}</td>
                {% elif (match.city_destination == match.municipality_destination) or (match.municipality_destination == 'any' and match.region_destination == 'any' )%}
                  <td><a href="https://www.google.com/maps/search/{{ whitespace(match.city) }}, {{ match.postal_code }}" target="_blank">{{ whitespace(match.city_destination) }},<br>{{ whitespace(match.region_destination) }}</a></td>
                {% else %}
                  <td><a href="https://www.google.com/maps/search/{{ whitespace(match.city) }}, {{ match.postal_code }}" target="_blank">{{ whitespace(match.city_destination) }},<br>{{ whitespace(match.municipality_destination) }},<br>{{ whitespace(match.region_destination) }}</a></td>
                {% endif %}

                <td><a href="mailto:{{ match.email }}">{{ match.username }}</a></td>
                <!-- Add other columns as needed -->
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  
  {% elif search_initial_page_load %}
  {% else %}
    <p class="text-center">No matching houses found.</p>
  {% endif %}

{% endblock %}
