{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block main %}

    <form action="/signin" method="post" class="mb-5 pb-2" id="signinForm" onsubmit="return validateSignInForm()">
        <div class="mb-3">
            <input autocomplete="off" autofocus type="text" class="form-control mx-auto w-auto" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus type="password" class="form-control mx-auto w-auto" name="password" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control mx-auto w-auto"value="Sign In">
        </div>
    </form>

    <div class="pt-5">
        <img class="svg-img" src="../static/images/art_signin.svg">
    </div>

{% endblock %}

