{% extends "layout.html" %}

{% block title %}
  Submit a House
{% endblock %}    

{% block main %}

  <div class="container mt-2">
    <h1 class="mb-4">Submit Your House Details</h1>
    <form action="/submit" method="post" class="submitForm" onsubmit="return validateForm()">
      {% include "form_fields.html" %}
      <!-- Add extra fields if needed -->
      
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock %}
